body
{
    background-color: rgb(173, 165, 165);
}

#header
{
    background-color: rgb(212, 202, 202);
}
#header_heading
{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.menu
{
    
    color: rgb(14, 13, 13);
    width: 15%;
    float: left;
    padding-right: 1%;
    padding-top: 0%;
}
.menu a
{
    color: black;
    display: block;
    padding: 5%;
    background-color: rgb(212, 202, 202);
    margin-top: 4px;
    font-size: 20px;
    text-align: center;
   
}
a:hover
{
    background-color:rgb(212, 202, 272);
}
#article
{
    margin-top: 4px;
    padding-top: 0%;
    width: 60%;
    float: left;
    text-align: center;
    background-color: rgb(212, 202, 202);
}
#article p
{
    margin-bottom: 2.3%;
}
#article h3
{
    color: brown;
}

@media only screen and (max-width:620px)
{
    .menu, #article, #center
    {
        width: 100%;
    }
}
