.grid
{
    border: 1px solid red;
    float: left;
    padding: 10px;
    background-color: rgb(188, 192, 199);
    text-align: center;
    border-radius: 4px;
    margin: 3%;
    
}

.grid_container
{
    display: grid;
  grid-template-columns: auto auto auto;
  background-color: #797b7c;
  padding: 10px;
  width: 9%;
  float:left;
  margin: 18% 20% 20% 50%;
}