body {
    background-color: rgb(177, 164, 248);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    background-image: url('images/2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* background-size:contain; */
    background-size: 600px;
    float:right;
}
div {
    background-color: rgb(13, 6, 75);
}
h1
{
    /* border: 2px solid rgb(173, 158, 237); */
    border-bottom: 2px solid rgb(173, 158, 237);
    margin-top: 3%;
    padding-top: 2%;  
    padding-bottom: 2%;
    color: beige;
    text-align: center;
    font-size: 50px;

}
p {
    color: beige;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;  
}

#mailme 
{
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
    
  }
  
  a:visited {
    color: rgb(229, 233, 12);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }